/* Стили для сворачиваемых расходов */
.exp-details {
    border-bottom: 1px solid #222;
}

.exp-details summary {
    list-style: none; /* Убираем стандартную стрелку браузера */
    padding: 12px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exp-details summary::-webkit-details-marker {
    display: none;
}

.exp-subs-content {
    background: #151517;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 5px 12px;
}

.stat-sub-row {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 6px 0;
    color: #bbb;
    border-bottom: 1px solid #222;
}

.stat-sub-row:last-child {
    border-bottom: none;
}

.stat-main small {
    font-size: 10px;
    color: var(--accent);
    margin-left: 5px;
}
